@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');
*{
    font-family: monospace;
}
body{
    background: url('./background.jpg')no-repeat;
    background-size: 100vw;
    z-index: -1;
}
.snake-title-container {
    text-align: center;
    margin-top: 50px;
}
.snake-title {
    font-size: 66px;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-family: 'Aoboshi One', serif;
    letter-spacing: 8px;
}
#board, .boardInfo{
    max-width: 500px;
    margin: auto;
}
#board{
    display: grid;
    grid-template-columns: repeat(10,1fr);
}
#start, .boardInfo{
    font-size: 25px;
}
#gameOver{
    display: none;
}
.boardInfo{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: 600;
    color: black;
}
#start{
    background-color: #f35a69;
    border: none;
    color: #fff;
    cursor: pointer;
}
#scoreBoard{
    display: inline-flex;
}
.square{
    aspect-ratio: 1;
}
.emptySquare{
    background-color: black;
}
.snakeSquare{
    background-color: #00FF00;
}
.foodSquare{
    background-color: #FF0000;
}
body.modal-open {
    background-color: rgba(0, 0, 0, 0.5);
}
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 2px solid #333;
    text-align: center;
    z-index: 1;
}
.modal button{
    cursor: pointer;
}